@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?r8trbf');
  src:  url('fonts/icomoon.eot?r8trbf#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?r8trbf') format('truetype'),
    url('fonts/icomoon.woff?r8trbf') format('woff'),
    url('fonts/icomoon.svg?r8trbf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-pencil:before {
  content: "\e905";
}
.icon-image:before {
  content: "\e90d";
}
.icon-file-text:before {
  content: "\e922";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-user:before {
  content: "\e971";
}
.icon-glass2:before {
  content: "\e9a1";
}
